.card {
  min-height: 300px;
  position: relative;
}

h1 {
  text-align: center;
}

.closeBtn {
  float: right;
}

.showBtn {
  position: absolute;
  width: 50%;
  bottom: 10px;
  border: 3px solid #8AC007;
}

.showAbout {
  border: 3px solid #8AC007;
  font-size: 1rem;
}
